{% extends "DJBlasterBundle::djblaster_base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}
  
        
{% block bodyattrs %}ng-app="djblasterApp"{% endblock %}

{% block navbar %}
    <li class="active">
        <a href="{{ path('dj_blaster_home') }}">Dashboard</a>
    </li>
{% endblock %}

{% block navbaruser %}
    <li>
        <a href="{{ path('dj_blaster_djsignin') }}">
            {{ djsignin_information.dj_first_name }} {{ djsignin_information.dj_last_name }} - DJ Sign Out
        </a>
    </li>
    <li>
        <a href="{{ path('dj_blaster_admin_login') }}">Admin Login</a>
    </li>
{% endblock %}

{% block content %}
    <div class='col-md-12'>
        <div class="time">
            <span id="timeWrap">
                <span id="currentDate"></span>
                <span id="currentTime"></span>
            </span>
        </div>
    </div>
    <br/><br/>
        
    <div class='col-md-6 liveReads'>

        {# Begin DJ Blaster Boxes #}
        {% verbatim %}
        <div >
        	<h3>Live Reads</h3>
            <div class='panel panel-primary' 
                 ng-controller="adShowSponsorshipCtrl">
                <div class="panel-heading">
                    <div class="panel-title">Show Sponsorships</div>
                </div>
                <div class="panel-body">
                <div class="row"
                    ng-hide="show_sponsorships">
                    <div class="center-block text-center" style="width:100px;">
                        <img src='/images/loading.gif'/><br/>Loading...
                    </div>
                </div>
                <ul class="list-group"
                    style="margin-bottom: 0px;"
                    ng-repeat="sponsorship in show_sponsorships track by $index" 
                    ng-show="show_sponsorships"
                    >
                    <li class="list-group-item" 
                        id="{{'ad-show-sponsorship-'+sponsorship.sponsorship_id}}">
                        
                        <h2>{{sponsorship.ad_name}}</h2><br/>
                        <div ng-bind-html="sponsorship.ad_content | unsaftenHTML"></div>
                        <div class="confirmBT">
                        <a href="#readItModal" 
                            class='btn btn-danger btn-lg'
                            ng-click="readitClicked('read-it-button-spons-'+sponsorship.sponsorship_id)"
                            id="{{'read-it-button-spons-'+sponsorship.sponsorship_id}}"
                            data-toggle="modal"
                            data-ad_type="show-sponsorship"
                            data-ad_id="{{sponsorship.sponsorship_id}}">Confirm Read</a>
                        </div>
                    </li>
                </ul> 
                </div>
            </div>
            <div class='panel panel-info' 
                 ng-controller="adEventCtrl">
                 <div class="panel-heading">
                    <h3 class="panel-title">Paid Promotion</h3>
                </div>
                <div class="panel-body">
                <div class="row"
                    ng-hide="events">
                    <div class="center-block text-center" style="width:100px;">
                        <img src='/images/loading.gif'/><br/>Loading...
                    </div>
                </div>
                <ul class="list-group"
                    style="margin-bottom: 0px;"
                    ng-repeat="event in events track by $index" 
                    ng-show="events">
                    <li class="list-group-item"
                        id="{{'ad-event-'+event.event_id}}">
                       
                        <h2>{{event.ad_name}}</h2>
                        <p>{{event.ad_content}}</p>
                         <div class="confirmBT">
                         <a href="#readItModal" 
                            class='btn btn-danger btn-lg'
                            ng-click="readitClicked('read-it-button-event-'+event.event_id)"
                            id="{{'read-it-button-event-'+event.event_id}}"
                            data-toggle="modal"
                            data-ad_type="event"
                            data-ad_id="{{event.event_id}}">Confirm Read</a>
                        </div>
                    </li>
                </ul> 
                </div>
            </div>
            
            <div class='panel panel-warning' 
                 ng-controller="adPSACtrl">
                <div class="panel-heading">
                    <h3 class="panel-title">PSA <em>(Only read one per show)</em></h3>
                </div>
                <div class="panel-body">
                <div class="row"
                    ng-hide="psas">
                    <div class="center-block text-center" style="width:100px;">
                        <img src='/images/loading.gif'/><br/>Loading...
                    </div>
                </div>
                <ul class="list-group"
                    style="margin-bottom: 0px;"
                    ng-repeat="psa in psas track by $index" 
                    ng-show="psas">
                    <li class="list-group-item"
                        id="{{'ad-psa-'+psa.psa_id}}">
                       
                        <h2>{{psa.ad_name}}</h2>
                        <p>{{psa.ad_content}}</p>
                         <div class="confirmBT">
                      	<div class="row">
	                      	<div class="col-md-6">
	                         	<a href="javascript:void(0);" 
	                            class='btn btn-info btn-lg'
	                            style='margin-right:5px;'
	                            ng-click="skipitClicked(psa.psa_id)"
	                            id="{{'skip-it-button-psa-'+psa.psa_id}}"
	                            >Skip This One</a>
                        	</div>
                        	<div class="col-md-6">
	                         	<a href="#readItModal" 
	                            class='btn btn-danger btn-lg'
	                            ng-click="readitClicked('read-it-button-psa-'+psa.psa_id)"
	                            id="{{'read-it-button-psa-'+psa.psa_id}}"
	                            data-toggle="modal"
	                            data-ad_type="psa"
	                            data-ad_id="{{psa.psa_id}}">Confirm Read</a>
                            </div>
                       </div>
                       </div>
                    </li>
                </ul> 
                </div>
            </div>
            <div id="panic">
           	 <a href='#' onclick='location.reload(true); return false;'>Is something wrong?<br/>Something not loading?<br/><img src='/images/djblaster-panic.gif'/></a>
            </div>
        {% endverbatim %}
        {# End DJ Blaster Boxes #}
        </div>
        </div>
		<div class='col-md-6'>
			<h3>Chat Window</h3>
			<p>If you spend all your time chatting and not DJing, we will get rid of this function. Pay attention to the reads to the left.</p>
			<div id="chatwing-embedded-4415b9e0-870c-11e5-a7a1-25c0609413f9"></div>
			
			<div id="tab-full-container" class='tab-container'>
			 <div class='etabs'>
			  <span class='tab' id="tab-1"><a href="#tab-calendar">Calendar</a></span>
			  <span class='tab' id="tab-2"><a href="#tab-weather">Weather</a></span>
			  <span class='tab' id="tab-3"><a href="#tab-report">Reports</a></span>
			 </div>
			 <div class='panel-container'>
			  <div id="tab-calendar">
			   			<div class="ltCalendar">
							<h3>Live Taos Calendar for <span id="currentDate-2"></span></h3>
							<p>LiveTaos.com is your favorite independent source for all things arts, entertainment, and culture in Taos. If you think something is missing from this calendar, it's easy to submit your own events at LiveTaos.com! </p>
	        				<iframe style="margin-top:12px;" width="100%" height="150" class="liveTaosEmbed" src="http://livetaos.com/iframe-embeds/knce-dj-embed/"></iframe>
	        			</div>
			  </div>
			   <div id="tab-weather">
			   			<div class="weather">
							<h3>Weather</h3>
		        			<div id='weatherEmbed'></div>
		        		</div>
		        </div>
		        <div id="tab-report">
			   			<div class="report">
							<h3>Reports</h3>
		        			<p>This section is going to be for collecting information from DJ's about information discussed and other necessary information.</p>
		        			<a href="http://truetaosradio.com/dj-interview-form/" target="_blank"
                            class='btn btn-info btn-lg'>Interview Report</a>
		        			
		        		</div>
		        </div>

		        
			   <!-- content -->
			  </div>
			 </div>
			</div>
			
        </div>

        
        {# Begin Debug Bar #}
            <div class='panel panel-danger' 
                 ng-controller="debugCtrl"
                 ng-show="debugActive"
                 style="display:none;"
                 >
                <div class="panel-heading">
                    <h3 class="panel-title">DEBUG AND TEST</h3>
                </div>
                <div class="panel-body">
                    
                    Date:
                    <input id='debug-input-date'
                            type='text'
                            ng-value='currentDate' disabled>
                    <button class='btn btn-primary btn-xs' ng-click='decrementDate()'>-</button>
                    <button class='btn btn-primary btn-xs' ng-click='incrementDate()'>+</button>
                    Hour:
                    <input id='debug-input-hour'
                            type='text'
                            size='2'
                            ng-value='currentHour'disabled>
                    <button class='btn btn-primary btn-xs' ng-click='decrementHour()'>-</button>
                    <button class='btn btn-primary btn-xs' ng-click='incrementHour()'>+</button>
                </div>
            </div>
        {# End Debug Bar #}
        
        <div class="modal fade" 
             id="readItModal"
             ng-controller="readitModalCtrl">
            <div class="modal-dialog" >
                <div class="modal-content" >
                    <div class="modal-header">
                        <button type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Confirm Read</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-horizontal">
                        <div class='form-group'
                             id='readitFormGroup'>
                            <label for="dj-initials" 
                                   class="control-label col-sm-2">DJ Initials</label>
                            <div class="col-xs-2">
                            <input type="text" 
                                   name="dj-initials" 
                                   class="form-control input-min" 
                                   id="inputDJInitials" >
                            </div>
                            <button class="btn btn-danger pull-right"
                                    ng-click="submitClicked()"
                                    id="readItSubmitButton"
                                    style="margin-right:20px;">Submit</button>
                        </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}        
        
{% block javascripts %}        
    <script type='text/javascript'>
        var BASE_URL = "{{ url('dj_blaster_base') }}";
        BASE_URL = BASE_URL.substring(0, BASE_URL.length - 1);
        var SHOW_END_TIME = '{{ djsignin_information.show_end_time }}';
    </script>   
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
     <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="{{ asset('js/djblaster.js') }}"></script>
  
    <script src="{{ asset('js/jquery.zweatherfeed.min.js') }}"></script>
    <script src="{{ asset('js/jquery.easytabs.min.js') }}"></script>
    
    <script type='text/javascript'>
		$(document).ready(function () {
			$('#weatherEmbed').weatherfeed(['USNM0314'], {
				forecast: true,
				refresh:15,
				linktarget: "_blank",
				unit: 'f'
			});
			
			$(function() {
			   $("#tab-full-container").easytabs({
				    animate: false,
					  animationSpeed: 1000,
					  defaultTab: "span#tab-1",
					  panelActiveClass: "active-content-div",
					  tabActiveClass: "selected-tab",
					  tabs: "> div > span",
					  updateHash: false
				});
			});
			
    		function getClockTime() {
    			var currentdate = new Date(); 
			    var monthNames = [
    							"January", "February", "March",
    							"April", "May", "June",
    							"July", "August", "September",
    							"October", "November", "December"
    						];
    		
    			var thisMonth;
    			var date;
    			var hour;
    			var minute;
    			var time = new Date ();
    		
	    		thisMonth = monthNames[currentdate.getMonth()];
	    						
				date = thisMonth + " " + currentdate.getDate() +", "+currentdate.getFullYear();
	           	hour = currentdate.getHours()
                minute = currentdate.getMinutes();

                /*
                 * MODIFIED BY: Destin
                 * Check to determine if the show is over.
                 * If show is ended, logout the DJ.
                 */
                var show_end_time = SHOW_END_TIME.split(':');
                var show_end_hour = parseInt(show_end_time[0]);
                var show_end_minute = parseInt(show_end_time[1]);
                if(show_end_minute > 0 && show_end_minute==minute && show_end_hour==hour){
                    location.href = BASE_URL;
                } else if(show_end_hour <= hour){
                    location.href = BASE_URL;
                }
                // END MODIFICATION

	           	ampm = hour > 12 ? "PM" : "AM";
	           	
	           	hour = hour % 12;
				hour = hour ? hour : 12; // zero = 12;
				
				minute = minute > 9 ? minute : "0" + minute;
	
	            time = + hour + ":" + minute;  
				
				$('#currentDate').html("<span id='date'>"+date+"</span>");
				$('#currentDate-2').html("<span id='date'>"+date+"</span>");
				$('#currentTime').html("<span id='time'>"+time+"</span>");
			}
			
			getClockTime();
			window.setInterval(getClockTime,60000);
			 
		});
		
		
		
    </script>
    
    <script type="text/javascript">
        (function(d) {
            var cwjs, id='chatwing-js';  if(d.getElementById(id)) {return;}
            cwjs = d.createElement('script'); cwjs.type = 'text/javascript'; cwjs.async = true; cwjs.id = id
            cwjs.src = "//chatwing.com/code/4415b9e0-870c-11e5-a7a1-25c0609413f9/embedded";
            d.getElementsByTagName('head')[0].appendChild(cwjs);
        })(document);
    </script>
{% endblock %}
