{% extends "DJBlasterBundle::djblaster_base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}


{% block bodyattrs %}ng-app="djblasterApp"{% endblock %}

{% block navbar %}
    <li class="active">
        <a href="{{ path('dj_blaster_home') }}">Dashboard</a>
    </li>
{% endblock %}

{% block navbaruser %}
    <li>
        <a href="{{ path('dj_blaster_djsignout') }}">
            {{ djsignin_information.dj_first_name }} {{ djsignin_information.dj_last_name }} - DJ Sign Out
        </a>
    </li>
    <li>
        <a href="{{ path('dj_blaster_admin_login') }}">Admin Login</a>
    </li>
{% endblock %}

{% block content %}
    <div class='col-md-12'>
        <div class="time">
            <span id="timeWrap">
                <span id="currentDate"></span>
                <span id="currentTime"></span>
            </span>
        </div>
    </div>

    <div class='col-md-12'>
        {% set header_cols = 'col-md-12' %}
        {% if header_notification.isNotificationActive() %}
            {% set header_cols = 'col-md-6' %}
        {% endif %}
        <div class="{{ header_cols }}" style="padding-bottom:2em;">
        	<h2>Interview Submission</h2>
        	<p>All interviews hosted on KNCE need to be logged by DJ's.<br/>You must log the interview within 12 hours of your show.<br/>If you don't have time during your show, please log it from home.</p>
        	<a href="http://truetaosradio.com/dj-interview-form/" target="_blank"
                            class='btn btn-info btn-lg'>Interview Report</a>
        </div>
        {% if header_notification.isNotificationActive() %}
        <div class="col-md-6" style="padding-bottom:2em;">
                <div class="djnotification-box" style="border-color:{{ header_notification.getPrimaryColorHex() }}; padding: 1rem;">
                    {{ header_notification.getMessage() | raw }}
                </div>
        </div>
        {% endif %}
    </div>
    <div class='col-md-6 liveReads'>

        {# Begin DJ Blaster Boxes #}
        {% verbatim %}
        <div >
        	<h3>Live Reads</h3>
            <div class='panel panel-primary'
                 ng-controller="adShowSponsorshipCtrl">
                <div class="panel-heading">
                    <div class="panel-title">Show Sponsorships</div>
                </div>
                <div class="panel-body">
                <div class="row"
                    ng-hide="show_sponsorships">
                    <div class="center-block text-center" style="width:100px;">
                        <img src='/images/loading.gif'/><br/>Loading...
                    </div>
                </div>
                <ul class="list-group"
                    style="margin-bottom: 0px;"
                    ng-repeat="sponsorship in show_sponsorships track by $index"
                    ng-show="show_sponsorships"
                    >
                    <li class="list-group-item"
                        id="{{'ad-show-sponsorship-'+sponsorship.sponsorship_id}}">

                        <h2>{{sponsorship.ad_name}}</h2><br/>
                        <div ng-bind-html="sponsorship.ad_content | unsaftenHTML"></div>
                        <div class="confirmBT">
                        <a href="#readItModal"
                            class='btn btn-danger btn-lg'
                            ng-click="readitClicked('read-it-button-spons-'+sponsorship.sponsorship_id)"
                            id="{{'read-it-button-spons-'+sponsorship.sponsorship_id}}"
                            data-toggle="modal"
                            data-ad_type="show-sponsorship"
                            data-ad_id="{{sponsorship.sponsorship_id}}">Confirm Read</a>
                        </div>
                    </li>
                </ul>
                </div>
            </div>
            <div class='panel panel-info'
                 ng-controller="adEventCtrl">
                 <div class="panel-heading">
                    <h3 class="panel-title">Paid Promotion</h3>
                </div>
                <div class="panel-body">
                <div class="row"
                    ng-hide="events">
                    <div class="center-block text-center" style="width:100px;">
                        <img src='/images/loading.gif'/><br/>Loading...
                    </div>
                </div>
                <ul class="list-group"
                    style="margin-bottom: 0px;"
                    ng-repeat="event in events track by $index"
                    ng-show="events">
                    <li class="list-group-item"
                        id="{{'ad-event-'+event.event_id}}">

                        <h2>{{event.ad_name}}</h2>
                        <p>{{event.ad_content}}</p>
                         <div class="confirmBT">
                         <a href="#readItModal"
                            class='btn btn-danger btn-lg'
                            ng-click="readitClicked('read-it-button-event-'+event.event_id)"
                            id="{{'read-it-button-event-'+event.event_id}}"
                            data-toggle="modal"
                            data-ad_type="event"
                            data-ad_id="{{event.event_id}}">Confirm Read</a>
                        </div>
                    </li>
                </ul>
                </div>
            </div>

            <div class='panel panel-warning'
                 ng-controller="adPSACtrl">
                <div class="panel-heading">
                    <h3 class="panel-title">PSA <em>(Only read one per show)</em></h3>
                </div>
                <div class="panel-body">
                <div class="row"
                    ng-hide="psas">
                    <div class="center-block text-center" style="width:100px;">
                        <img src='/images/loading.gif'/><br/>Loading...
                    </div>
                </div>
                <ul class="list-group"
                    style="margin-bottom: 0px;"
                    ng-repeat="psa in psas track by $index"
                    ng-show="psas">
                    <li class="list-group-item"
                        id="{{'ad-psa-'+psa.psa_id}}">

                        <h2>{{psa.ad_name}}</h2>
                        <p>{{psa.ad_content}}</p>
                         <div class="confirmBT">
                      	<div class="row">
	                      	<div class="col-md-6">
	                         	<a href="javascript:void(0);"
	                            class='btn btn-info btn-lg'
	                            style='margin-right:5px;'
	                            ng-click="skipitClicked(psa.psa_id)"
	                            id="{{'skip-it-button-psa-'+psa.psa_id}}"
	                            >Skip This One</a>
                        	</div>
                        	<div class="col-md-6">
	                         	<a href="#readItModal"
	                            class='btn btn-danger btn-lg'
	                            ng-click="readitClicked('read-it-button-psa-'+psa.psa_id)"
	                            id="{{'read-it-button-psa-'+psa.psa_id}}"
	                            data-toggle="modal"
	                            data-ad_type="psa"
	                            data-ad_id="{{psa.psa_id}}">Confirm Read</a>
                            </div>
                       </div>
                       </div>
                    </li>
                </ul>
                </div>
            </div>
            <div id="panic">
           	 <a href='#' onclick='location.reload(true); return false;'>Is something wrong?<br/>Something not loading?<br/><img src='/images/djblaster-panic.gif'/></a>
            </div>
        {% endverbatim %}
        {# End DJ Blaster Boxes #}
        </div>
        </div>
		<div class='col-md-6'>
			<h3>Chat Window</h3>
            <iframe src="https://minnit.chat/KNCEChat?embed&amp;nickname=" style="border:none;width:100%;height:500px;" allowtransparency="true"></iframe><br><a href="https://minnit.chat/KNCEChat" target="_blank" rel="noopener noreferrer">Free HTML5 Chatroom powered by Minnit Chat</a>

			<div id="tab-full-container" class='tab-container'>
			 <div class='etabs'>

			 </div>
			 <div class='panel-container'>
			  <div id="tab-calendar">
			   			<div class="ltCalendar">
							<h3>Live Taos Calendar for <span id="currentDate-2"></span></h3>
							<h4>Read once during your show at the :40 break.</h4>
							<br/><br/>
	        				<p style="font-weight:bold; color:#dc4503; font-size:1.275em;">Review the calendar listings before you begin reading over the air; if you feel you need more information about an event, CLICK on it to review the complete listing at LiveTaos.com. DO NOT ANNOUNCE OVER THE AIR that you don't have enough details or don't know what a listing means; either get more details, or skip reading the listing.</P>
							<br/><br/>
							<p>LiveTaos.com is your favorite independent source for all things arts, entertainment, and culture in Taos. If you think something is missing from this calendar, it's easy to submit your own events at LiveTaos.com! </p>


	        				<iframe style="margin-top:12px;" width="100%" height="150" class="liveTaosEmbed" src="https://livetaos.com/iframe-embeds/knce-dj-embed/"></iframe>
	        			</div>
			  </div>
			   <!-- content -->
			  </div>
			 </div>
			</div>
        </div>

        {# Begin Debug Bar #}
            <div class='panel panel-danger'
                 ng-controller="debugCtrl"
                 ng-show="debugActive"
                 style="display:none;"
                 >
                <div class="panel-heading">
                    <h3 class="panel-title">DEBUG AND TEST</h3>
                </div>
                <div class="panel-body">

                    Date:
                    <input id='debug-input-date'
                            type='text'
                            ng-value='currentDate' disabled>
                    <button class='btn btn-primary btn-xs' ng-click='decrementDate()'>-</button>
                    <button class='btn btn-primary btn-xs' ng-click='incrementDate()'>+</button>
                    Hour:
                    <input id='debug-input-hour'
                            type='text'
                            size='2'
                            ng-value='currentHour'disabled>
                    <button class='btn btn-primary btn-xs' ng-click='decrementHour()'>-</button>
                    <button class='btn btn-primary btn-xs' ng-click='incrementHour()'>+</button>
                </div>
            </div>
        {# End Debug Bar #}

    {#  DJ Has Read It Modal - Gets Initials #}
    <div class="modal fade"
         id="readItModal"
         ng-controller="readitModalCtrl">
        <div class="modal-dialog" >
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirm Read</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                    <div class='form-group'
                         id='readitFormGroup'>
                        <label for="dj-initials"
                               class="control-label col-sm-2">DJ Initials</label>
                        <div class="col-xs-2">
                        <input type="text"
                               name="dj-initials"
                               class="form-control input-min"
                               id="inputDJInitials" >
                        </div>
                        <button class="btn btn-danger pull-right"
                                ng-click="submitClicked()"
                                id="readItSubmitButton"
                                style="margin-right:20px;">Submit</button>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Auto Signout Modal  #}
    <div class="modal fade"
         id="auto-signout-modal">
        <div class="modal-dialog" >
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            onclick="cancelAutomaticLogout()"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Automatic Log Out</h4>
                </div>
                <div class="modal-body">
                    <p>Your show is scheduled to end at <strong><span id="auto-signout-show-endtime"></span></strong>.</p>
                    <p>You will automatically be signed out in <strong><span id="auto-signout-timer-seconds"></span></strong> seconds.
                </div>
                <div class="modal-footer">
                        <button class="btn btn-warning pull-left"
                                style="margin-right:20px;"
                                onclick="cancelAutomaticLogout()">Not Yet</button>
                        <button class="btn btn-success pull-right"
                                style="margin-right:20px;"
                                onclick="logoutDJ()">Sign Out</button>
                    </div>
            </div>
        </div>
    </div>

    {# Popup Notification - Set via DJ Notifications in Backend #}
    {% if popup_notification.isNotificationActive() %}
    <div class="modal fade"
         id="dj-popup-notification-modal">
        <div class="modal-dialog" >
            <div class="modal-content" >
                <div class="modal-header">
                    <button type="button"
                            class="close"
                            onclick="closePopupNotificationModal()"
                            aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Message to DJs</h4>
                </div>
                <div class="modal-body">
                    <div class="djnotification-box" style="border-color:{{ popup_notification.getPrimaryColorHex() }}">
                    {{ popup_notification.getMessage() | raw }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn pull-right dj-popup-notification-button"
                            style="background-color: {{ popup_notification.getPrimaryColorHex() }}; border-color: {{ popup_notification.getPrimaryColorHex() }};"
                            onclick="closePopupNotificationModal()">{{ popup_notification.getButtonText() | default('Ok') }}</button>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script type='text/javascript'>
        var BASE_URL = "{{ url('dj_blaster_base') }}";
        BASE_URL = BASE_URL.substring(0, BASE_URL.length - 1);
        var SHOW_INFO = {
            show_end_time: '{{ djsignin_information.show_end_time }}',
            show_start_time: '{{ djsignin_information.show_start_time }}'
        };
        var AUTO_SIGNOUT_TIMER_ID = null;
        var AUTO_SIGNOUT_TIME = 30;
        var AUTO_SIGNOUT_WANTS_TO_CONTINUE = false;
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
     <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="{{ asset('js/djblasterjs/djblaster.js') }}"></script>
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/jquery.zweatherfeed.min.js') }}"></script>

    <script type='text/javascript'>
		$(document).ready(function () {

            {# Show the popup notification modal #}
            {% if popup_notification.isNotificationActive() %}
                showPopupNotificationModal();
            {% endif %}

			$('#weatherEmbed').weatherfeed(['USNM0314'], {
				forecast: true,
				refresh:15,
				linktarget: "_blank",
				unit: 'f'
			});

            // Parse the show end time into usable pieces
            var showEndArr = SHOW_INFO.show_end_time.split(':');
            SHOW_INFO['show_end_hour'] = parseInt(showEndArr[0]);
            SHOW_INFO['show_end_minute'] = parseInt(showEndArr[1]);

            // Start the clock
			updateClock();
			window.setInterval(updateClock,10000);

            window.setInterval(hasShowEnded, 10000);

		});

        function updateClock() {
            var now = moment();
            var date = now.format("MMMM D, YYYY");
            var time = now.format("h:mm");

            $('#currentDate').html("<span id='date'>"+date+"</span>");
            $('#currentDate-2').html("<span id='date'>"+date+"</span>");
            $('#currentTime').html("<span id='time'>"+time+"</span>");
        }

        function hasShowEnded(){
            var numMinutesBefore = 5;
            var now = moment();
            var showEnd = moment(now.format("YYYY-MM-DD") + " " + SHOW_INFO.show_end_time);
            var showStart = moment(now.format("YYYY-MM-DD") + " " + SHOW_INFO.show_start_time);

            if(showEnd.isBefore(showStart) && now.isAfter(showStart)){
                // For transition from late night (pm) to morning (am)
                // ie 10:00pm to 1:00 am
                showEnd.add(1, 'd');
            }
            var timeBeforeEnd = (moment(showEnd)).subtract(numMinutesBefore, 'minutes');

            if(now.isAfter(timeBeforeEnd) && !AUTO_SIGNOUT_WANTS_TO_CONTINUE){
                displaySignoutModal(30);
            } else if(now.isAfter(showEnd)) {
                displaySignoutModal(5);
            }

        }

        function displaySignoutModal(numSeconds){
            if(AUTO_SIGNOUT_TIMER_ID === null){
                AUTO_SIGNOUT_TIME = numSeconds;

                const endTimeText = moment(moment().format("YYYY-MM-DD") + " " + SHOW_INFO.show_end_time).format("h:mm a");
                $("#auto-signout-show-endtime").text(endTimeText);
                $('#auto-signout-timer-seconds').text(AUTO_SIGNOUT_TIME);
                $('#auto-signout-modal').modal('show');

                // Start the countdown timer
                AUTO_SIGNOUT_TIMER_ID = setInterval(autoSignoutCountdown, 1000);
            }
        }

        function autoSignoutCountdown(){
            if(AUTO_SIGNOUT_TIME === 0){
                resetAutoLogoutTimer();
                logoutDJ();
                return;
            }

            $('#auto-signout-timer-seconds').text(AUTO_SIGNOUT_TIME);
            AUTO_SIGNOUT_TIME--;
        }

        function cancelAutomaticLogout(){
            AUTO_SIGNOUT_WANTS_TO_CONTINUE = true;
            $('#auto-signout-modal').modal('hide');
            resetAutoLogoutTimer();
        }

        function resetAutoLogoutTimer(){
            clearInterval(AUTO_SIGNOUT_TIMER_ID);
            AUTO_SIGNOUT_TIMER_ID = null;
        }

        function logoutDJ(){
            location.href= BASE_URL + "/djsignout";
        }

        function showPopupNotificationModal(){
            $('#dj-popup-notification-modal').modal('show');
        }

        function closePopupNotificationModal(){
            $('#dj-popup-notification-modal').modal('hide');
        }



    </script>

{% endblock %}
