{% extends "DJBlasterBundle:Admin:_admin_base.html.twig" %}


{% block content %}
{% form_theme form 'DJBlasterBundle:Admin:_admin_form_errors.html.twig' %}
{{ form_start(form, {'attr':{'novalidate':'novalidate','class':'form-horizontal'}}) }}
<fieldset>
    <legend>
        Change Password
    </legend>
    {{ form_errors(form) }}
    <div class="form-group {% if form.currentPassword.vars.errors|length %}has-error{% endif %}" >
        {{ form_label(form.currentPassword , label|default(null),  {'label_attr':{'class':'control-label col-sm-2'}}) }}
        <div class="col-sm-5">
            {{ form_widget(form.currentPassword, {'attr':{'class':'form-control'}}) }}
            {{ form_errors(form.currentPassword) }}
        </div>
    </div>

    <div class="form-group {% if form.newPassword.first.vars.errors|length %}has-error{% endif %}">
        {{ form_label(form.newPassword.first , label|default(null),  {'label_attr':{'class':'control-label col-sm-2'}}) }}
        <div class="col-sm-5">
            {{ form_widget(form.newPassword.first, {'attr':{'class':'form-control'}}) }}
            {{ form_errors(form.newPassword.first) }}
        </div>
    </div>

    <div class="form-group {% if form.newPassword.second.vars.errors|length %}has-error{% endif %}">
        {{ form_label(form.newPassword.second , label|default(null),  {'label_attr':{'class':'control-label col-sm-2'}}) }}
        <div class="col-sm-5">
            {{ form_widget(form.newPassword.second, {'attr':{'class':'form-control'}}) }}
            {{ form_errors(form.newPassword.second) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <button class='btn btn-default' role='submit'>
                Change Password
            </button>

        </div>
    </div>

    {{ form_end(form) }}
</fieldset>
{% endblock %}
