{% extends "DJBlasterBundle:Admin/Campaign:_campaign_base.html.twig" %}


{% block content %}

{% form_theme form 'DJBlasterBundle:Admin:_admin_form_errors.html.twig' %}
{{ form_start(form, {'attr':{'novalidate':'novalidate','class':'form-horizontal'}}) }}
<fieldset>
    <legend>
        {% if event.getEventId() == 0 %}Add{% else %}Edit{% endif %} Promotion
    </legend>
    {% if form.vars.errors|length %}
    <div class="alert alert-danger" role="alert">
    {{ form_errors(form) }}
    </div>
    {% endif %}
    <div class="form-group {% if form.ad_name.vars.errors|length %}has-error{% endif %}" >
        {{ form_label(form.ad_name , label|default(null),  {'label_attr':{'class':'control-label col-sm-2'}}) }}
        <div class="col-sm-5">
            {{ form_widget(form.ad_name, {'attr':{'class':'form-control'}}) }}
            {{ form_errors(form.ad_name) }}
        </div>
    </div>

    <div class="form-group {% if form.ad_content.vars.errors|length %}has-error{% endif %}" >
        {{ form_label(form.ad_content , label|default(null),  {'label_attr':{'class':'control-label col-sm-2'}}) }}
        <div class="col-sm-5">
            {{ form_widget(form.ad_content, {'attr':{'rows':3, 'class':'form-control'}}) }}
            {{ form_errors(form.ad_content) }}
        </div>
    </div>
    
    <div class="form-group {% if form.start_date.vars.errors|length %}has-error{% endif %}" >
        {{ form_label(form.start_date , label|default(null),  {'label_attr':{'class':'control-label col-sm-2'}}) }}
        <div class="col-sm-5">
            {{ form_widget(form.start_date) }}
            {{ form_errors(form.start_date) }}
        </div>
    </div>

    <div class="form-group {% if form.end_date.vars.errors|length %}has-error{% endif %}" >
        {{ form_label(form.end_date , label|default(null),  {'label_attr':{'class':'control-label col-sm-2'}}) }}
        <div class="col-sm-5">
            {{ form_widget(form.end_date) }}
            {{ form_errors(form.end_date) }}
        </div>
    </div>
    
    <div class="form-group {% if form.no_reads.vars.errors|length %}has-error{% endif %}" >
        {{ form_label(form.no_reads , label|default(null),  {'label_attr':{'class':'control-label col-sm-2'}}) }}
        <div class="col-sm-5">
            {% if event.getEventId() == 0 %}
            {{ form_widget(form.no_reads, {'attr':{'size':2}}) }}
            {% else %}
            {{ form_widget(form.no_reads, {'attr':{'size':2, 'readonly':'readonly', 'style':'background-color:lightgray'}}) }}
            {% endif %}
            between {{ campaign.getStartDate()|date('M j, Y') }} and {{ campaign.getEndDate()|date('M j, Y') }}
            {{ form_errors(form.no_reads) }}
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-5">
            <button class="btn btn-default">
                Save
            </button>
        </div>
    </div>

    {{ form_end(form) }}
</fieldset>

{% endblock %}
